{% extends "base.html" %}

{% block title %}About{% endblock title %}

{% block content %}

    <div class="jumbotron">
      <div class="container">
        <h2>What is this app ?</h2>
        <p>This is a search engine which can permits you to find every dissertation studies made by EPSI's students.</p>
      </div>
    </div>

      <div class="container">
      <p>If you need to contact us, please have a look below: </p>
      	<h4>
        <center>
          <a href="mailto:brice.bonheur@epsi.fr">Brice BONHEUR</a>
          <a style="margin-left:100px" href="mailto:etienne.bossuet@epsi.fr">Etienne BOSSUET</a>
          <a style="margin-left:100px" href="mailto:pierre-erik.devie@epsi.fr">Pierre-Erik Devie</a><br/>
          </center>
        <h5>
          <center>
          <br/>
          <p>Parce qu'on aime les ordinateurs...</p>
        </center>


{% endblock content %}