<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/assets/ico/favicon.png">

    <title>Hello bitches</title>

    <!-- Bootstrap core CSS -->
    <link href="/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/main.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/assets/js/html5shiv.js"></script>
      <script src="/assets/js/respond.min.js"></script>
    <![endif]-->
    {% block addhead %}
    {% endblock addhead %}

    {% endblock head %}
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Search Engine</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/base">Home</a></li>
            <li><a href="/about?p=ok">About</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </div>

    {% block content %}

    <div class="jumbotron">
      <div class="container">
        <h2>Recherche de documents</h2>
        <p>Cherchez un document en fonction des critères de recherche si dessous.</p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-4">
          <h2>Search</h2>
          <form name="data" action="/response" method="POST">
            <div class="form-group">
            Titre : <input name="titre" class="form-control" type="text" placeholder="Le WEB 3.0..."/><br/>
            Auteur : <input name="auteur" class="form-control" type="text" placeholder="MJC..."/><br/>
            Année : <input name="annee" class="form-control" type="text" placeholder="2014..."/><br/>
            Chapitre / Introduction : <input name="sommaire" class="form-control" type="text" placeholder="Explication de la solution..."/><br/>
            Recherche libre : <input name="query" class="form-control" type="text" placeholder="système expert..."/>
          </div>
            <div class="form-group">
            <button type="submit" class="btn btn-success">Check this out !</button>
          </div>
          </form>
        </div>
      </div>
    {% endblock content %}

      <hr>

      <footer>
        {% block footer %}
              <center>
        <h3>Search Engine v1.0 - 2014</h3>
      </center>
        <p>&copy; Company 2013</p>
        {% endblock footer %}
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/assets/js/jquery.js"></script>
    <script src="/dist/js/bootstrap.min.js"></script>
    {% block footscript %}
    {% endblock footscript %}
  </body>
</html>
