{% extends "base.html" %}

{% block title %}About{% endblock title %}

{% block content %}

    <div class="jumbotron">
      <div class="container">
        <h2>Liste des mémoires</h2>
        <p>Cliquez sur un mémoire pour l'ouvrir</p>
      </div>
    </div>

      <div class="container">
      	<h4>{{_liste}}</h4>
         <form enctype="multipart/form-data" action="/upload" method="POST">
			<p>File: <input type="file" name="myFile" accept="application/pdf" value="Ajouter un fichier à la base..."></p>
			<p><input type="submit" value="Envoyer"></p>
		</form>

{% endblock content %}
