{% extends "base.html" %}

{% block title %}About{% endblock title %}

{% block content %}

    <div class="jumbotron">
      <div class="container">
        <h2>Liste des mémoires</h2>
        <p>Cliquez sur un mémoire pour l'ouvrir</p>
      </div>
    </div>

      <div class="container">
      	<h4>
        	<a href="#">M13-BLABLA</a><br/>
        	<a href="#">M13-TRUCTRUC</a><br/>
        	<a href="#">M13-LOLILOL</a><br/>
        	<a href="#">M13-TROLOLO</a><br/>
        </h4>


{% endblock content %}