{% extends "base.html" %}

{% block title %}Page de reponse{% endblock title %}

{% block content %}

 <div class="jumbotron">
      <div class="container">
        <h2>Les reponses Premières sont : </h2>
        <p>...</p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-4">
          <h2>Search</h2>
          <h3> Essaie {{_title}}</h3>
        </div>
      </div>

<div class="jumbotron">
      <div class="container">
        <h3>Les reponses générales sont : </h3>
        <p>...</p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-4">
          <h2>Search</h2>
          <h3> Essaie {{_title}}</h3>
        </div>
      </div>

{% endblock content %}