{% extends "base.html" %}

{% block title %}Résults{% endblock title %}

{% block content %}

<style test="text/css">
  .document{
    margin:10px;
    font-size:10px;
    border:1px solid black;
    width:250px;
    /*height:320px;*/
    padding:10px;
    background-color: white;
    float:left;
}
</style>

 <div class="jumbotron">
      <div class="container">
        <h2>Résultats de la recherche :</h2>
        <p>{{_results}}</p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-4">
          <h2>Vous avez recherché : </h2>
          <h3>Titre : {{_title}}</h3>
          <h3>Auteur : {{_author}}</h3>
          <h3>Année : {{_annee}}</h3>
          <h3>Mots clés :  {{_query}}</h3>
        </div>
      </div>

{% endblock content %}