{% extends "base.html" %}

{% block title %}Résults{% endblock title %}

{% block content %}

 <div class="jumbotron">
      <div class="container">
        <h2>Résultats de la recherche :</h2>
        <p>{{_titres}}</p>
        <p>{{_auteurs}}</p>
        <p>{{_annees}}</p>
        <p>{{_contents}}</p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-4">
          <h2>Vous avez recherché : </h2>
          <h3>Titre : {{_title}}</h3>
          <h3>Auteur : {{_author}}</h3>
          <h3>Année : {{_annee}}</h3>
          <h3>Mots clés :  {{_query}}</h3>
        </div>
      </div>

{% endblock content %}